.form_container{
    width:30%;
}

@media screen and (max-width: 768px) {
    .form_container{
        width: 100%;
    }
}

.mealmate-bg-colour-mute{
    background-color:#FEFBF7 ;
}

.mealmate-bg-colour{
    background-attachment: #FFC218;
}